:root {
    --lm-color: rgb(17, 17, 17);
}

/* element styling */

p, a {
    font-family: "Jost", sans-serif;
    color: var(--lm-color);
}

h1, h2, h3, h4 {
    font-family: "Merriweather", sans-serif;
    color: var(--lm-color);
}

p, .text-link {
    font-size: 18px;
}

h1 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 15px;
}
@media screen and (min-width: 1200px) {
    h1 {
        font-size: 50px;
    }
}

h2 {
    font-weight: bold;
}

/* generic classes */

.container {
    width: 80%;
    padding: 4% 0;
    margin: 0 auto;
}
@media screen and (min-width: 1200px) {
    .container {
        width: 60%;
    }
}

.icon {
    font-size: 23px; 
    color: var(--lm-color);
}
.icon-link {
    width: fit-content;
    height: fit-content;
    text-shadow: none;
    transition: text-shadow 0.3s ease-in-out;
}
.icon-link:hover{
    text-shadow: 0px 0px 3px rgb(95, 95, 95);
    cursor: pointer;
}

.link-arrow {
    display: inline-block;
    vertical-align: super;
    font-size: 16px;
    margin-left: 3px;
    transition: transform 0.2s ease;
}

.text-link, .project-link {
    color: var(--lm-color);
    text-decoration: none;
    font-weight: bold;
    width: fit-content;
    text-shadow: none;
    transition: text-shadow 0.3s ease-in-out;
}
.text-link:hover, .project-link:hover {
    text-shadow: 0px 0px 5px rgb(95, 95, 95);
    cursor: pointer;
}

.project-link {
    font-size: 20px;
    margin: 30px 12px 15px 0;
}

.text-link:hover .link-arrow, .project-link:hover .link-arrow {
    transform: translate(2px, -2px);
}

.subtitle {
    font-weight: bold;
}

/* navbar section styling */

.navbar {
    height: 80px;
}

.navbar-nav {
    margin-right: 10px;
}

.nav-item {
    margin-right: 15px;
}

/* intro section styling */

#intro-content {
    padding-left: 0;
}
@media screen and (min-width: 1200px) {
    #intro-content {
        padding-left: 5%;
        flex-grow: 1;
    }
}

svg {
    width: 100%;
    height: auto;
}

#intro-icons {
    margin-top: 20px;
}

/* about section styling */

#about {
    padding-top: 10vh;
    padding-bottom: 3vh;
}

/* project section styling */

#projects {
    padding-top: 8vh;
}

.project-header {
    display: flex;
    align-items: center;
}

.project-title {
    color: var(--lm-color);
    text-decoration: none;
    font-weight: bold;
    width: max-content;
    font-size: 20px;
    margin: 30px 10px 15px 0;
}

.attribute {
    background-color: rgb(236, 236, 236);
    padding: 5px 19px 5px 19px;
    border-radius: 16px;
    margin-right: 10px;
}
div.attribute > p {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}

/* image formatting */

#intro-images {
    border-radius: 50%;
    box-shadow: none;
    transition: box-shadow 0.3s ease-in-out;
}
@media screen and (max-width: 1199px) {
    #intro-images {
        margin-bottom: 20px;
    }
}
#intro-images:hover {
    box-shadow: 0px 0px 15px rgb(0, 0, 0);
    cursor: pointer;
}
#intro-img-a {
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    opacity: 1;
}
#intro-img-b {
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    opacity: 0;
}
@keyframes spin {
    100% {transform: rotate(360deg);}
}
#intro-img-a.spin {
    animation: spin 1s;
}
#intro-img-b.spin {
    animation: spin 1s;
}

/* #about-img {
    width: 225px;
    margin-top: 15px;
    border-radius: 10px;
    box-shadow: none;
    transition: box-shadow 0.3s ease-in-out;
}
@media screen and (min-width: 768px) {
    #about-img {
        max-width: 100%;
        margin-top: 0;
    }
}
#about-img:hover {
    box-shadow: 0px 0px 10px rgb(95, 95, 95);
    cursor: pointer;
}
@keyframes jiggle {
    20%   {transform: rotate(-5deg);}
    50%  {transform: rotate(5deg);}
    90% {transform: rotate(0deg);}
}
#about-img.jiggle {
    animation: jiggle 2s;
} */