* {
    margin: 0;
    padding: 0;
    font-family: monospace;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    margin: 0px;
    left: 0px;
    max-height: 100px;
    overflow-x: hidden;
}
.bg-black {
    background-color: white;
}
.bg-white {
    background: rgb(224, 224, 224);
}
.z-1 {
    z-index: -1;
}
.z-2 {
    z-index: -2;
}
.height-nav {
    height: 100vh;
}
.bnav-gap {
    /* Top Padding: 20px - Name: ~57px - Each Link: ~45px - Offset: 45px*/
    padding-top: calc(100vh - 257px);
    padding-left: 14px;
}
.height-welcome {
    height: 100vh;
}
.height-about {
    height: 480px;
}
.height-projects {
    height: 1000px;
}
.height-contact {
    height: 500px;
}
.height-bottom {
    height: 200px;
}
.width-nav {
    width: 180px;
}
.width-full {
    width: calc(100% - 180px);
}
.anchor-welcome {
    left: 180px;
}
.anchor-about {
    top: 100vh;
    left: 180px;
}
.anchor-projects {
    top: calc(100vh + 480px);
    left: 180px;
}
.anchor-contact {
    top: calc(100vh + 480px + 1000px);
    left: 180px;
}
.anchor-bottom {
    top: calc(100vh + 1480px);
    left: 180px;
}
.ypad-nav {
    padding-left: 20px;
    padding-right: 20px;
}
.xpad-nav {
    padding-top: 20px;
    padding-bottom: 20px;
}
.ypad-about {
    padding-left: 35px;
    padding-right: 35px;
}
.ypad-projects {
    padding-left: 35px;
    padding-right: 35px;
}
.xpad-projects {
    padding-top: 35px;
    padding-bottom: 35px;
}
.pad-welcome {
    padding: 0;
}
.position-nav {
    top: 0;
    left: 0;
}
.position-welcome {
    top: 0;
    left: 0;
}
.fixed {
    position: fixed;
}
.absolute {
    position: absolute;
}
.flex {
    display: flex;
}
.flex-column {
    flex-direction: column;
}
.flex-row {
    flex-direction: row;
}
.justify-space-between {
    justify-content: space-between;
}
.justify-center {
    justify-content: center;
}
.orient-center {
    align-items: center;
}
.orient-left {
    align-items: baseline;
}
.font-corner {
    font-family: sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: black;
}
.font-nav {
    font-family: sans-serif;
    font-size: 18px;
    color: black;
}
.font-welcome {
    font-size: 60px;
    color: black;
    font-weight: bold;
    margin-bottom: 20px;
}
.font-about-1 {
    font-size: 40px;
    color: black;
    font-weight: bold;
    margin-bottom: 20px;
}
.font-about-2 {
    font-size: 15px;
    color: black;
}
a.normal {
    transition: color .2s ease-in-out;
}
.normal:link, .normal:visited {
    text-decoration: none;
    color: black;
}
.normal:hover, .normal:active {
    text-decoration: none;
    color: gray;
}
a.text-link {
    transition: color .2s ease-in-out;
}
.text-link:link, .text-link:visited {
    text-decoration: underline;
    color: black;
}
.text-link:hover, .text-link:active {
    text-decoration: underline;
    color: gray;
}
a.nav-links {
    margin-top: 23px;
    font-size: 20px;
}
.project-link:link, .project-link:visited {
    text-decoration: none;
    color: black;
}
.project-link:hover, .project-link:active {
    text-decoration: none;
    color: black;
}
a.ows-link {
    transition: background-color .2s ease-in-out;
}
.ows-link:link, .ows-link:visited {
    background-color: white;
    text-decoration: none;
    color: black;
}
.ows-link:hover, .ows-link:active {
    background-color: darkgrey;
    text-decoration: none;
    color: black;
}
img.circular {
    border-radius: 50%;
}
.img-welcome {
    width: 260px;
    height: 260px;
    margin-bottom: 25px;
}
.img-icon {
    width: 22px;
    height: 22px;
    background-size: 22px 22px;
}
.icon-space {
    margin-right: 20px;
}
.img-about {
    width: 310px;
    height: 370px;
    margin-right: 45px;
}
.project {
    background-color: rgb(224, 224, 224);
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
    padding: 20px;
    width: 765px;
    height: 250px;
    /* width: 60vw; */
    /* height: 40vh; */
}
.project-space {
    margin-bottom: 45px;
}
.projects-title-spacing {
    margin-bottom: 10px;
}
.projects-text {
    margin-left: 35px;
    margin-bottom: 15px;
}
.project-title {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
}
.project-desc {
    font-size: 15px;
    margin-bottom: 25px;
}
.project-icon {
    width: 34px;
    height: 34px;
}
.ows {
    position: absolute;
    background-color: rgb(224, 224, 224);
    border-style: solid;
    border-radius: 15px;
    border-width: 2px;
    padding: 5px;
    margin-left: 635px;
    margin-bottom: 745px;
}
.java-icon {
    width: 40px;
    height: 41px;
}
.html-icon {
    width: 34px;
    height: 34px;
}
.css-icon {
    width: 34px;
    height: 34px;
}
.pandas-icon {
    width: 30px;
    height: 45px;
}
.c-icon {
    width: 35px;
    height: 40px;
}
.p-i-spacing {
    margin-right: 50px;
}
.vertical-line {
    border-left: 3px solid black;
    height: calc(100vh + 1480px);
    position: absolute;
    left: 180px;
    margin-left: -3px;
    top: 0;
  }